body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    // // overflow-y: scroll;
    height: 100%;
}
// html{
//     font-size: 20px;
// }
*{
    box-sizing: border-box;
}
.header_bg_img{
    background: #000;
   background: url(https://dxaurk9yhilm4.cloudfront.net/images/889/DJI_0161-copy_2cbd80a0345be3b5a0b7649a1a2d057f.jpg) no-repeat center center;
   background-size: cover;
   height: 100vh;
 
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    opacity: 0.6;


    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    
}

.header_bg_img img{
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;  
}

.image_opacity{
    background: #000;
    position: relative;
    // display: flex;
    // justify-content: center;
    // align-content: center;
    // align-items: center;
}


.text{
    color: #FFFFFF;
    z-index: 2;
    position: absolute;
    top: 30%;
    left: 25%;
    margin-bottom: 2rem;
    font-size: 4.5vw;  
    line-height: 2;
    animation: textanimation 1s linear;

}

.text1{
    font-weight: 200;
    font-family: 'Spectral', serif;
    // text-align: center;
}
.text2{
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
}

@keyframes textanimation {
    0% {
        opacity: 0;    
        transform:translate3d(0,25%,0);
    }
    100%{
        opacity: 1;
    }
}

.press_container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.news_section{
    padding-left: 7vw;
    padding-right: 7vw;
}
.news_row{
   
    // width: 90%;
    // margin: 0 auto;
    background-color: pink;
    padding-bottom: 15vh;
}

.news_content{
    width: 100%;
}

.news_content img{
    // width: 90%;
    height: 100vh;

}
.row2{
    text-align: left;
    padding: 12vh 10vw 0 10vw;
}
.row2 h3{
    margin: 0;
    font-family: 'Spectral', serif;
    font-size: 2.7rem;
    font-weight: 200;
}
.row{
    width: 100%;
    margin: 0 auto;
    padding-top: 10vh;
    // margin-left: 20%;
}
.section3_container{
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    overflow: hidden;
    // padding-bottom: 12vh;
}

.section3_content{
    width: 90%;
    margin: 0 auto;
    // height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.title_press{
    font-size: 2rem;
    font-family: 'Spectral', serif;
    padding: 10vh 10vw ;
    text-align: left;
}
.section2_press_container{
    padding-bottom: 15vh;
}
.section2_press_content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4.5rem 20%;
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.head1_press h2{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}
.head2_press{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

.explore_btn_footer{
    margin-top: 3rem;
    padding: 5% 12%;
    background-color: transparent;
    border: 1px solid #777;
    // border-color: #f3f3f3;
    color: #000;
}

@media screen and (max-width: 1000px) {
    .head1_press h2{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 700px) {
    .head1_press h2{
        font-size: 1rem;
    }
    .head2_press{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 500px) {
    .section2_press_content{
        grid-template-columns: repeat(1,1fr);
        gap: 4.5rem;
     
    }
    .explore_btn_footer{
        margin-top: 1rem;
        padding: 5% 12%;
        
    }
    .head1_press h2{
        font-size: 0.8rem;
    }
    .head2_press{
        font-size: 0.6rem;
    }
    
}