

@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body,html{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    // // overflow-y: scroll;
    height: 100%;
}
html{
    font-size: 20px;
}
*{
    box-sizing: border-box;
}

//section1


.section3_container{
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    overflow: hidden;
}
.section3_content{
    width: 90%;
    margin: 0 auto;
}
// .row{
//     padding-right: 9vw;
//     width: 100%;
//     background-color: green;
// }
.experience_container{
    background-color: #f3f3f3;
}
@media screen and (max-width: 1240px)  {
    .section3_container{
        width: 80%;
        overflow: hidden;
        margin: 0 auto;

    }

    
}
