@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap');

.image_bg{
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden !important;
    position: relative;
    display: flex;
    align-items: center;
}
.image_bg img{
    margin: 0;
    padding: 0;
    min-width: 100%;
    height: 100vh;
    min-height: 100vh;
    object-fit: cover;  
    position: relative; 
}
.image_opacity{
    background: #000;
    position: relative;
    // display: flex;
    // justify-content: center;
    // align-content: center;
    // align-items: center;
}
.image_opacity img{
    opacity: 0.6;
}

.text{
    color: #FFFFFF;
    z-index: 2;
    position: absolute;
    // top: 40%;
    left: 25%;
    margin-bottom: 2rem;
    font-size: 4.5vw;  
    line-height: 2;
    animation: textanimation 1s linear;

}

.text1{
    font-weight: 200;
    font-family: 'Spectral', serif;
    // text-align: center;
}
.text2{
    margin-top: 10%;
    font-family: 'Montserrat', sans-serif;
}

@keyframes textanimation {
    0% {
        opacity: 0;    
        transform:translate3d(0,25%,0);
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 700px) {
    .text{
        font-size: 1.4rem;
        
    }
    .text2{
        margin-top: 3rem;
    }
}
